$red: red;
$bgColor: bisque;

// 常用样式
@for $i from 0 through 2000 {
  .mt#{$i} {
    margin-top: #{$i}px;
  }
  .mr#{$i} {
    margin-right: #{$i}px;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px;
  }
  .ml#{$i} {
    margin-left: #{$i}px;
  }
  .pt#{$i} {
    padding-top: #{$i}px;
  }
  .pr#{$i} {
    padding-right: #{$i}px;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px;
  }
  .pl#{$i} {
    padding-left: #{$i}px;
  }
  .w#{$i} {
    width: #{$i}px;
  }
  .h#{$i} {
    height: #{$i}px;
  }
  .lh#{$i} {
    line-height: #{$i}px;
  }
}

@for $i from 0 through 200 {
  .fs#{$i} {
    font-size: #{$i}px;
  }
  .hPct#{$i} {
    height: 1% * $i;
  }
  .wPct#{$i} {
    width: 1% * $i;
  }
}
